header{ 
 background-color: rgb(105, 0, 204);/*cor de fundo*/   
  color: black;/*cor de texto*/ 
 text-align: center;
 max-width: 800px;
 margin: 0 auto;
 padding: 16px;/*espaciamento interno*/
border: 5px solid rgb(102, 24, 133);
}
main{
  background-color: rgb(58, 19, 165); 
  color: black;
  text-align: center;/*alinhamento do texto*/
  max-width: 800px;/*largura máxima*/ 
  margin: 0 auto;/*espaçamento externo ao redor do elemento*/

  display: flex;/*habilita o uso de flex box*/
} 
 
footer{ 
  background-color: rgb(246, 240, 255); 
color:rgb(80, 34, 153)
 }
img{
width: 80px;/*largura*/
height: 80px;/*altura*/
}
